/* variables */

:root {
  /* Login page color */
  --face-blue: #3b5998;
  --spotify-green: #15883e;
  /* comon colors */
  --bg-black: #121212;
  --reproduction-gray: #535353;
  --buttons-green: #1db854;
  --white-gray: #b3b3b3;
  /* Home colors */
  --dark-red: #552827;
  /* Album page */
  --purple-rhapsody: #a73a87;
  /* Artist page */
  --artist-gray: #424b54;
  /* Card gray */
  --card-gray: #181818;
  /* borders */
  --border-gray: #282828;
}

/* Common */

body {
  font-family: "Inter", sans-serif;
}

/* footer */

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 9;
  background-color: var(--card-gray);
  border-top: 1px solid var(--border-gray);
  justify-content: space-between;
  font-size: 14px;
}

footer a,
footer a:hover {
  color: white;
}

.footer-icons {
  color: var(--white-gray);
}

.heart-footer:hover,
.show-image-footer:hover,
.queue-footer:hover,
.system-footer:hover,
.speaker-on-footer:hover,
.speaker-off-footer:hover,
.expand-footer:hover,
.shuffle-footer:hover,
.previous-footer:hover,
.next-footer:hover,
.repeat-footer:hover {
  color: white;
}

/* Input range */

input[type="range"] {
  height: 3px;
  width: 100%;
  -webkit-appearance: none;
  cursor: pointer;
}

input[type="range"] {
  --range: calc(var(--max) - var(--min));
  --ratio: calc((var(--value) - var(--min)) / var(--range));
  --sx: calc(0.5 * 10px + var(--ratio) * (100% - 10px));
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-thumb {
  width: 10px;
  height: 10px;
  border-radius: 1em;
  background: white;
  border: none;
  box-shadow: 0 0 2px black;
  margin-top: calc(3px * 0.5 - 10px * 0.5);
  opacity: 0;
  -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 3px;
  border-radius: 0.5em;
  border: none;
  box-shadow: none;
}

input[type="range"]::-webkit-slider-thumb:hover {
  background: white;
}

input[type="range"]:hover::-webkit-slider-thumb {
  opacity: 1;
}

input[type="range"]::-webkit-slider-thumb:active {
  background: white;
}

input[type="range"]:active::-webkit-slider-runnable-track {
  background: #32aa56;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: linear-gradient(#fff, #fff) 0 / var(--sx) 100% no-repeat, #535353;
}

input[type="range"]:hover::-webkit-slider-runnable-track {
  background: linear-gradient(#32aa56, #32aa56) 0 / var(--sx) 100% no-repeat,
    #535353;
}

input[type="range"]:active::-webkit-slider-runnable-track {
  background: linear-gradient(#32aa56, #32aa56) 0 / var(--sx) 100% no-repeat,
    #535353;
}
input[type="range"]:focus::-webkit-slider-track {
  background-color: #32aa56;
}

/* song playing section */

.song-playing-footer {
  align-items: center;
}

/* Volume section */

.volume-section-footer {
  align-items: center;
}

#volume-range {
  width: 100px;
}

/* controls footer */

.controls-footer {
  flex-direction: column;
  align-items: center;
}

.play-pause {
  background-color: white;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  padding: 10px;
}

.play-pause:hover {
  width: 37px;
  height: 37px;
}

.play-footer,
.pause-footer {
  color: #181818;
}

/* song timer */

.song-timer-container {
  color: var(--white-gray);
}

#song-timer {
  width: 700px;
}
