/* variables */

:root {
  /* Login page color */
  --face-blue: #3b5998;
  --spotify-green: #15883e;
  /* comon colors */
  --bg-black: #121212;
  --reproduction-gray: #535353;
  --buttons-green: #1db854;
  --white-gray: #b3b3b3;
  /* Home colors */
  --dark-red: #552827;
  /* Album page */
  --purple-rhapsody: #a73a87;
  /* Artist page */
  --artist-gray: #424b54;
  /* Card gray */
  --card-gray: #181818;
  /* borders */
  --border-gray: #282828;
}

/* Common */

body {
  font-family: "Inter", sans-serif;
}

/* footer */

footer {
  background-color: var(--card-gray);
  border-top: 1px solid var(--border-gray);
  justify-content: space-between;
  font-size: 14px;
}

footer a,
footer a:hover {
  color: white;
}

.footer-icons {
  color: var(--white-gray);
}

.heart-footer:hover,
.show-image-footer:hover,
.queue-footer:hover,
.system-footer:hover,
.speaker-on-footer:hover,
.speaker-off-footer:hover,
.expand-footer:hover,
.shuffle-footer:hover,
.previous-footer:hover,
.next-footer:hover,
.repeat-footer:hover {
  color: white;
}

/* Input range */

/* input[type="range"]::range-track {
  width: 100%;
  height: 15px;
  border-radius: 10px;
  background-color: var(--reproduction-gray);
  border: 2px solid #ccc;
}

input[type="range"]::range-thumb {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: white;
  border: 2px solid var(--white-gray);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

input[type="range"]::range-progress {
  height: 20px;
  border-radius: 10px 0 0 10px;
  background-color: var(--buttons-green);
  border: 2px solid var(--buttons-green);
}
 */

/* song playing section */

.song-playing-footer {
  align-items: center;
}

/* Volume section */

.volume-section-footer {
  align-items: center;
}

#volume-range {
  width: 100px;
}

/* controls footer */

.controls-footer {
  flex-direction: column;
  align-items: center;
}

.play-pause {
  background-color: var(--white-gray);
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  padding: 10px;
}

.play-pause:hover {
  width: 37px;
  height: 37px;
}

.play-footer,
.pause-footer {
  color: #181818;
}

/* song timer */

.song-timer-container {
  align-items: center;
}

.song-timer-container span {
  color: var(--white-gray);
}

#song-timer {
  width: 700px;
}
